# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/
.env/

# Django
*.log
staticfiles/
media/
db.sqlite3

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# OS files
Thumbs.db
.DS_Store

# Migrations cache
**/migrations/__pycache__/

# Local environment settings
.env.local
